# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Xcode related
ios/Runner.xcodeproj/project.pbxproj
ios/Runner.xcworkspace/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Windows related
windows/flutter/ephemeral/
windows/runner/Debug/
windows/runner/Release/
windows/runner/runner.exe.manifest
windows/runner/runner.exe

# Linux related
linux/flutter/ephemeral/

# macOS related
macos/Runner.xcodeproj/project.pbxproj
macos/Runner.xcworkspace/
macos/Flutter/Flutter.podspec
macos/Flutter/Generated.xcconfig
macos/Flutter/ephemeral/

# General build artifacts
build/